@media all {
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Roboto, 'Helvetica Neue', Arial;
    background-color: #eeeeee;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: 0 1rem;
    max-width: 40rem;
  }

  .title {
    flex: 1 0 100%;
    margin: 2rem 0 2rem 0;
    text-align: center;
  }

  .navigation {
    flex: 1 0 100%;
  }

  .state-container {
    margin: 2rem 0 0 5rem;
    flex: 1;
  }

  .controllers {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
  }

  .time-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0 0 0;
  }
  .time-line::before {
    content: 'time line';
    display: block;
    font-style: italic;
    font-weight: 900;
    line-height: 1rem;
    color: #333333;
  }

  .btn {
    position: relative;
    flex: 1;
    border-radius: 0.25rem;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    line-height: 1rem;
    background-color: #52ab3c;
    color: #ffffff;
    cursor: pointer;
  }
  .btn:focus {
    outline: none;
  }

  .btn-prev,
  .btn-next {
    background-color: #3aa1ea;
  }
  .btn-prev {
    margin-right: 1rem;
  }

  .btn-time-line {
    margin: 0 0 1rem 5rem;
    padding: 0.5rem 0;
    color: #ffffff;
  }
  .btn-time-line:last-child {
    margin-bottom: 0;
  }
  .btn-time-line.active {
    background-color: #dd5151;
  }
}

@media (min-width: 320px) and (max-width: 959px) {
  .btn-time-line:not(:first-child)::before {
    content: '';
    position: absolute;
    top: -1.7rem;
    left: -3.15rem;
    display: inline-block;
    width: 0.4rem;
    height: 2.7rem;
    background: #333333;
  }
  .btn-time-line::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0.4rem;
    left: -3.59rem;
    display: inline-block;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    box-shadow:
      inset 0 0 0 0.3rem #333333,
      inset 0 0 0 0.7rem #52ab3c;
  }

  .btn-time-line.active::after {
    box-shadow:
      inset 0 0 0 0.3rem #333333,
      inset 0 0 0 0.7rem #dd5151;
  }
}

@media (min-width: 580px) {
  .title {
    text-align: left;
  }
  .navigation {
    flex: 1;
  }
  .state-container {
    margin: 4rem 0 0 3rem;
  }
}

@media (min-width: 960px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 60rem;
  }
  .title {
    flex: 0 1 auto;
  }
  .state-container {
    margin: 2rem 0 0 0;
  }
  .controllers {
    padding: 0;
  }
  .time-line {
    flex-direction: row;
    align-items: center;
  }
  .time-line::before {
    margin: 0 1rem 0 0;
    font-weight: normal;
    color: #aaaaaa;
  }

  .btn-time-line {
    border-radius: 0;
    margin: 0 1rem 0 0;
    padding-left: 1rem;
  }
  .btn-time-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 0 1rem 1rem;
    border-color: transparent transparent transparent #eeeeee;
  }
  .btn-time-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 0 1rem 1rem;
    border-color: transparent transparent transparent #52ab3c;
  }
  .btn-time-line.active::after {
    border-color: transparent transparent transparent #dd5151;
  }
}
